/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */

.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: column;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: flex-start;
  align-items: center;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.welcome {
  text-align: center;
  margin: 20px 20px 40px 20px;
  padding: 5px 5px 5px 5px;
}

.missionStatement {
  width: 317px;
  max-height: 700px;
}

.infoCardStepper {
  margin-top: 10px;
}

.cardHeading {
  padding: 8px 8px 15px 8px;
}

.userNav {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding: 10px 10px 10px 10px;
}

.infoCarousel {
  border-radius: 2%;
  padding: 16px 8px 16px 8px;
}