/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */

.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: column;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: flex-start;
  align-items: center;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.welcome {
  text-align: center;
  margin: 20px 20px 0 20px;
  padding: 5px 5px 5px 5px;
}

.infoCardStepper {
  margin-top: 10px;
}

.cardHeading {
  padding: 8px 8px 15px 8px;
}

.userNav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.infoCarousel {
  border-radius: 2%;
  padding: 16px 0 16px 0;
  width: 317px;
  max-height: 800px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.titleViewHeading {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  max-height: 546px;
  height: 450px;
  margin-top: 30px;
}

.globe {
  max-width: 250px;
  max-height: 250px;
}

.organizationPillars {
  width: 100%;
  max-height: 800px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.userLink {
  width: 100%;
  padding: 10px 10px 10px 10px;
}