.adminLandingTitle {
    text-align: center;
    padding: 20px;
}

.buttonCorral {
    display: inline-grid;
    position: aboslute;
    float: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.adminBtn {
    padding: 10px;
}